@model MacroTracker.Models.MealPlanCreate

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/Site.css" rel="stylesheet" />


<h2>Create</h2>

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-6">
            <div class="form-horizontal">
                <div class="mealcreate3">
                    <h4>MealPlanCreate</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MealPlanName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MealPlanName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MealPlanName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MealPlanContent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MealPlanContent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MealPlanContent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mealcreate4">
                <h4>Meals</h4>
                <hr />
                <div class="form-group" style="height: 40rem; overflow-y: auto;">
                    <table class="table table-striped" id="mealTblcreate1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Meal.FirstOrDefault().MealName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Meal.FirstOrDefault().Calories)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Meal.FirstOrDefault().Quantity)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Meal.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.Meal[i].MealName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.HiddenFor(m => m.Meal[i].MealId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.Meal[i].Calories, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.HiddenFor(m => m.Meal[i].MealId)
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m.Meal[i].Quantity, new { htmlAttributes = new { @class = "form-control" } })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <p><a class="btn btn-default" href="/MealPlan/Index">Back To Meals &raquo;</a></p>
    <p><a class="btn btn-default" href="/Home">Back To Home &raquo;</a></p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#mealTblcreate1').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
            });
        })
    </script>
}

<style>
    .mealcreate3 {
        background: url("../../Content/images/pastalgreen.jpg");
        background-color: white;
        border-radius: 20px 20px 20px 20px;
    }

    .mealcreate4 {
        background: url("../../Content/images/4e4cfb5ced3442900334d1e470a28b37.jpg");
        background-color: white;
        border-radius: 20px 20px 20px 20px;
    }
</style>
