@model MacroTracker.Models.MealDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MealDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MealId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntakeDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntakeDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntakeQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntakeQty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
